/* Reset */
 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100;1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Roboto",Arial, Helvetica, sans-serif ;
    
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

a{
    text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

#image{
  background-image: url(/assets/84183_214335_grey_search.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 4%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "main main sidebar"
                         "footer footer footer";
  }
  
  /* Header Styles */
  header {
    grid-area: header;
    padding: 20px;
    text-align: left;
  }
  
  /* Main Content Styles */
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
  }
  
  #first {
    border-bottom:2px solid #ccc;
   }
  article {
    margin-bottom: 30px;
  }
  
  article header {
    margin-bottom: 20px;
  }
  
  article p {
    line-height: 1.5;
  }

  span{
    font-weight:700 ;
  }
  
  article blockquote {
    font-style: italic;
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
  }
  
  article blockquote p {
    margin: 0;
  }
  
  article blockquote footer {
    margin-top: 10px;
    text-align: right;
  }
  
  article figure {
    margin: 20px 0;
    text-align: center;
  }
  
  article figcaption {
    font-style: italic;
    color: #777;
  }
  
  article h3 {
    margin-top: 30px;
  }
  
  article ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  /* Sidebar Styles */
  aside {
    grid-area: sidebar;
   
    padding: 20px;
    font-size: 14px;
    color: #777;
  }

  .author-info{
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .author-info,
  .archives,
  .elsewhere {
    margin-bottom: 30px;
    font-family: 'Playfair Display';
  }

  .author-info h3,
  .archives h3,
  .elsewhere h3 {
    margin-top: 0;
    font-style: italic;

  }
  
  .archives ul,
  .elsewhere ul {
    padding: 0;
    list-style-type: none;
  }
  
  .archives li,
  .elsewhere li {
    margin-bottom: 10px;
  }
  
  /* Footer Styles */
  footer {
    grid-area: footer;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
  }

  .button{
 display: flex;
 justify-content: flex-start;
 flex-direction: row;
  }
  .btn {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    
  }
  .btn:hover{
    background-color: #ccc;

  }
  
  